[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
"discord.py" = "*"
flask = "*"
feedparser = "*"
requests = "*"
sqlalchemy = "*"
psycopg2 = "*"
sentry-sdk = {extras = ["flask"], version = "==0.16.2"}
gunicorn = "*"
flask-sqlalchemy = "*"

[requires]
python_version = "3.8"
