{% extends 'base.html' %}

{% block title %}LionBot - {{ guild.name }}{% endblock %}

{% block head %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='styles/manage_guild.css') }}">
{% endblock %}

{% block body %}
<h3>Content Streams</h3>
{% for stream in streams %}
<form method="post" action="{{ url_for('update_stream', stream_id=stream.id) }}" autocomplete="off">
    <div class="form-row">
        <div class="col-sm-3">
            <div class="form-group">
                <input class="form-control" name="description" type="text" required autocomplete="off" value="{{ stream.description }}">
            </div>
        </div>
        <div class="col-sm-1 emoji-col">
            <div class="form-group">
                <input class="form-control emoji-input" name="emoji" type="text" required autocomplete="off" value="{{ stream.emoji }}">
            </div>
        </div>
        <div class="col-sm">
            <div class="form-group">
                <input class="form-control" name="title_contains" type="text" {% if twitch_channel_id == stream.channel_id %}disabled {% else %}value="{{ stream.title_contains }}"{% endif %}>
            </div>
        </div>
        <div class="col-sm">
            <div class="form-group">
                <select class="form-control" name="role_id">
                    {% for role in roles %}
                    <option value="{{ role.id }}" {% if role.id == stream.role_id %}selected{% endif %}>{{ role.name }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
        <div class="col-sm">
            <div class="form-group">
                <select class="form-control" name="channel_id">
                    {% for channel in channels %}
                    <option value="{{ channel.id }}" {% if channel.id == stream.channel_id %}selected{% endif %}>{{ channel.name }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
        <div class="col-auto">
          <button class="btn btn-success mb-2 save-button">
              <svg xmlns="http://www.w3.org/2000/svg" width="1.2em" height="1.2em" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-save"><path d="M19 21H5a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h11l5 5v11a2 2 0 0 1-2 2z"></path><polyline points="17 21 17 13 7 13 7 21"></polyline><polyline points="7 3 7 8 15 8"></polyline></svg>
          </button>
        </div>
        <div class="col-auto">
          <button class="btn btn-danger mb-2 delete-button">
              <svg xmlns="http://www.w3.org/2000/svg" width="1.2em" height="1.2em" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-trash-2"><polyline points="3 6 5 6 21 6"></polyline><path d="M19 6v14a2 2 0 0 1-2 2H7a2 2 0 0 1-2-2V6m3 0V4a2 2 0 0 1 2-2h4a2 2 0 0 1 2 2v2"></path><line x1="10" y1="11" x2="10" y2="17"></line><line x1="14" y1="11" x2="14" y2="17"></line></svg>
          </button>
        </div>
    </div>
</form>
{% endfor %}
<h5>New Content Stream</h5>
<form method="post" action="{{ url_for('new_stream') }}" autocomplete="off">
    <div class="form-row">
        <div class="col-sm-3">
            <div class="form-group">
                <input class="form-control" placeholder="Description" name="description" type="text" required autocomplete="off" value="">
            </div>
        </div>
        <div class="col-sm-1 emoji-col">
            <div class="form-group">
                <input class="form-control emoji-input" placeholder="👍" name="emoji" type="text" required autocomplete="off">
            </div>
        </div>
        <div class="col-sm">
            <div class="form-group">
                <input class="form-control" placeholder="Title contains..." name="title_contains" type="text" >
            </div>
        </div>
        <div class="col-sm">
            <div class="form-group">
                <select class="form-control" name="role_id">
                    {% for role in roles %}
                    <option value="{{ role.id }}">{{ role.name }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
        <div class="col-sm">
            <div class="form-group">
                <select class="form-control" name="channel_id">
                    {% for channel in channels %}
                    <option value="{{ channel.id }}">{{ channel.name }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
        <div class="col-auto">
          <button class="btn btn-success mb-2 save-button">
              <svg xmlns="http://www.w3.org/2000/svg" width="1.2em" height="1.2em" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-save"><path d="M19 21H5a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h11l5 5v11a2 2 0 0 1-2 2z"></path><polyline points="17 21 17 13 7 13 7 21"></polyline><polyline points="7 3 7 8 15 8"></polyline></svg>
          </button>
        </div>
        <div class="col-auto">
          <button class="btn btn-secondary mb-2 delete-button" disabled>
              <svg xmlns="http://www.w3.org/2000/svg" width="1.2em" height="1.2em" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-trash-2"><polyline points="3 6 5 6 21 6"></polyline><path d="M19 6v14a2 2 0 0 1-2 2H7a2 2 0 0 1-2-2V6m3 0V4a2 2 0 0 1 2-2h4a2 2 0 0 1 2 2v2"></path><line x1="10" y1="11" x2="10" y2="17"></line><line x1="14" y1="11" x2="14" y2="17"></line></svg>
          </button>
        </div>
    </div>
</form>
{% endblock %}
